google-cloud-bigquery
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
xgboost
xgboost-distribution
flask
python-dateutil
joblib
pickle5
db-dtypes
selenium
nltk 
gensim 
plotly 
dash  
tensorflow  
beautifulsoup4 
Pillow 
requests
