.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  background-color: rgba(138, 138, 138, 0.725);
  width: 100%;
}

.webTitle {
  margin: 0px;
  padding: 5px;
}

* {
  color: black;
}

.uploadImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.uploadTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.fileInput {
  display: flex;
  align-items: center;
}

.uploadBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: auto; /* Centers the box within the page */
}

.fileInput {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Make input take full width of the box */
  cursor: pointer; /* Pointer cursor on hover */
}

.previewImage {
  height: 30%;
  width: 30%;
}

.processImageButtonContainer {
  display: flex;
  justify-content: space-around;
}

.processImageButton {
  display: flex;
  padding: 10px 20px;
  background-color: rgb(149, 146, 146);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.processImageButton:hover {
  background-color: #0056b3;
}

.processImageButton p {
  margin: 0;
  font-weight: bold;
}

.processedImageContainer {
  display: flex;
  justify-content: space-around;
}
