.background {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
  }

.Container {
  display: flex;
  justify-content: flex-end;
  margin-top: 400px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 35%;
  margin-left: 15%;
  margin-right: 15%;
}
