.background {
  background-image: url("../assets/amazon_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width: 730px;
  z-index: -50;
}

.uploadImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploadBox {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  margin: 12px;
  max-height: 65%;
  max-width: 75%;
}

.uploadTitle {
  font-size: 20px;
  font-weight: bold;
}

.inputImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 30%;
}

.fileInput {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer; /* Pointer cursor on hover */
  margin: 5px;
  padding: 5px;
}

.previewImage {
  height: auto;
  width: auto;
  max-height: 186px;
  max-width: 100%;
  object-fit: contain;
}

.processImageButtonContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.processImageButton {
  display: flex;
  padding: 10px 20px;
  background-color: rgb(149, 146, 146);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

.processImageButton:hover {
  background-color: #0056b3;
}

.processImageButton p {
  margin: 0;
  font-weight: bold;
}

.processedImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.processedImage {
  height: auto;
  width: auto;
  max-height: 126px;
  max-width: 100%;
  object-fit: contain;
  padding-right: 6px;
  margin-right: 12px;
  background-color: #29a7bb;
}

.processedImageWrapper {
  display: flex;
  flex: row;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 726px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: small;
}

.possibleProcessedImageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 726px;
}

.possibleProcessedImageWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  height: fit-content;
}

.processedImagePossible {
  height: auto;
  width: auto;
  max-height: 126px;
  max-width: 100%;
  object-fit: contain;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
}
