.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    background-color: rgba(138, 138, 138, 0.725);
    width: 100%;
    margin-bottom: 5px;
  }